<form class="box" action="/dashboard/addstation" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Station Location</label>
        <input class="input" type="text" placeholder="Enter station name" name="name">
      </div>
      <div class="field">
        <label class="label">Latitude</label>
        <input class="input" type="text" placeholder="Enter latitude" name="lat">
      </div>
      <div class="field">
        <label class="label">Longitude</label>
        <input class="input" type="text" placeholder="Enter longitude" name="lng">
      </div>
      </div>
    </div>
  <button class="button is-link">Add Station</button>
</form>